<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/vote-a-quote logo.png" alt="" width="110" height="117" class="d-inline-block align-text-top">
    </a>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h2>Vote<span class="main-text"> a Quote</span></h2>
  </div>
</div>

<div class="container">
  <h3>Add Link</h3>
  <div class="title-container">
    <label for="title">Title : </label>
    <input type="text" id="title">
  </div>
  <div class="link_container">
    <label for="link">Link :</label>
    <input type="text" id="link">
  </div>
  <button class="submit_btn">Submit</button>
</div>