<!-- Navbar -->
<nav class="navbar navbar-light bg-dark" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" alt="" width="110" height="117" class="d-inline-block align-text-top">
    </a>
  </div>
</nav>
<!-- End of Navbar -->

<!-- Quote Input Field Section -->


<div class="container-fluid">
  <div class="page-header">
    <h2>Vote<span class="main-text"> a Quote</span></h2>
  </div>
</div>

<div class="container">
  <h3>Post Quote</h3>
  <div class="title_container">
    <label for="title">Author Name : </label>
    <input type="text" id="title" #title>
  </div>
  <div class="link_container">
    <label for="link">Quote Text :</label>
    <input type="text" id="link" #link>
  </div>
  <div class="person-name">
    <label for="title">Name :</label>
    <input type="text" id="name" #name>
  </div>
  <button class="submit_btn" (click)="addQuote(title, link)">Add Quote</button>
</div>

<!-- Quotes Component -->

<div>
  <app-quotes *ngFor="let quote of sortQuotes()" [quote]="quote"></app-quotes>
</div>