.container {
    margin: 0 auto;
    width: 19rem;
    display: flex;
}

.points {
    aspect-ratio: 1/0.7;
    background-color: rgba(112, 23, 255, 0.3);
    border-radius: 0.2rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.8;
    color: rgb(0, 119, 255);
    font-weight: 600;
}

.details {
    flex: 1;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9rem;
}

.vote {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Upvote and Downvote Styles */

.upvote {
    font-weight: 600;
    font-size: 15px;
    color: rgb(43, 255, 0);
    cursor: pointer;
}

.downvote {
    font-weight: 600;
    font-size: 15px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}