/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css"

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.navbar {
    background: #f7f7f7;
}

h2 {
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
}

.main-text {
    color: #dc143c;
}




